/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(228, 228, 228);
    font-family: 'Viga', sans-serif; 
}


header {
    background-color: rgb(243, 243, 243);
    border: 15px solid rgb(235, 235, 235);
    text-align: center;
    padding: 20px;
}

header h1 {
    font-family: "Squada One", sans-serif;
    font-weight: 475;
    font-size: 3rem;
}

header p {
    font-size: 1.2rem;
}

#buttons {
    background-color: #333;
    height: 50px;

}

ul {
    list-style-type: none;
    background-color: #333;
    overflow: hidden;
    text-align: center;
    padding: 20px;
}

ul li {
    display: inline;
    padding: 20px 20px;
    text-align: center;
    justify-content: space-between;
}

ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

ul li a:hover {
    color: lightgray;
}


.section {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px;
    text-align: center;
}

.section h2 {
    margin: 20px 0;
    font-size: 2rem;
}

.section p {
    font-size: 1rem;
    color: #666;
}


#footer {
    background-color: rgb(243, 243, 243);
    text-align: center;
    padding: 20px;
    font-size: 1rem;
}

img {
    width: 100%;
    height: auto;
}


table {
    width: 100%;
    border-collapse: collapse;
}
